.table tr td img{
    width: 50px;
    height: 30px;
    object-fit: cover;
}
.table tr{
    font-size: .7srem;
}
td, th{
    text-align: center;
    color: var(--color-primary);
}

td i{
    color: red;
    font-size: 1.2rem;
    cursor:pointer;
}

@media (max-width: 575.98px) {
  /* ajustar tamaño de fuente y espacio entre celdas en pantallas pequeñas */
  td,
  th {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  
  /* desplazar horizontalmente en pantallas pequeñas */
  .table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /* envolver palabras largas */
  td,
  th {
    word-wrap: break-word;
  }
}