.common__section{
    background: linear-gradient(#000000b0,#000000b0), url('../images/hero.jpg')no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.common__section h1{
    color: var(--color-second );
    filter: drop-shadow(1px 01px 22px var(--color-primary));
    font-weight: 600;
}

@media only screen and (max-widht:768px){
    .common__section{
        padding: 70px 0px;
    }
    .common__section h1{
        font-size: 1.2rem;
    }

}