.hero__section{
    background: var(--hero-bg);
}

.hero__content{
    margin: 0 auto;
    max-width: 1300px;
}

.hero__section h3{
    color: var(--color-primary);
    font-size: 2.05rem;
    font-weight: 600;
    margin: 20px 0px;
    max-width:600px;
    /**filter: drop-shadow( 5px 5px 5px var(--color-primary) );**/
    text-shadow:3px 3px 7px var(--color-primary);
}

.hero__section p{
    margin: 10px;
    color: black;
    font-weight: 600;
    max-width:500px;
}
.hero__section p:nth-child(1){
    font-weight: 600;
}

.buy__btn{
    position: relative;
    top: 10px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: larger;
    background-color: transparent;
    border-radius: 10px;
    background-color:var(--color-primary);
    border: 2px solid var(--color-primary);
}
.buy__btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.buy__btn::after{
    color: var(--color-primary);
}

.heroImg{
    filter: drop-shadow( 5px 5px 5px #000000 );
}

.timer__count{
    background: var(--color-primary);
    height: 300px;
}

.timer__count img{
    filter: drop-shadow( 5px 5px 2px black) ;
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}

.store__btn{
    background: #FFF;
    
}

.store__btn a{
    color:  var(--color-primary);
    font-weight: 600;
}
