.header{
    width: 100%;
    height: 7rem;
    line-height: 70px;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    column-gap: 8px;
    line-height: 70px;
}
.logo img{
    
    width: 7rem;
    filter: drop-shadow( 5px 5px 5px #000000 );
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    color: var(--color-primary);
}
.cart__icon, 
.fav__icon{
    position: relative;
}

.badge{
   position: absolute;
   top: 28%;
    left: 50%;
    width: 15px;
    height: 15px;
    text-align: center !important;
    border: 1px solid var(--color-primary);
   content: '';
   background: #fff;
   color: var(--color-primary)!important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   border-radius: 50% !important;
   font-size: 0.6rem !important;
   font-weight: 600 !important;
   z-index: 10 !important;
}
.nav__icons {
    font-size: 1.3rem;
    color: var(--color-primary);
    cursor: pointer;
}
.nav__icons .profile img{
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    border-radius: 50%;
}
.nav__icons .profile{
    position: relative;
    z-index: 9;
}
.profile__actions{
    position: absolute;
    top: 98%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-bg-03);
    line-height: 30px;
    display: none;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.profile__actions a{
    margin: 5px;
    text-decoration: none;
}

.show__profile-actions{
    display: block;
}

.mobile__menu{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color-primary);
    display: none;
}

.nav__active{
    font-weight: 700 !important;
}

.sticky__header{
    width: 100%;
    height: 7rem;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background-color:rgb(212, 237, 255);
}

@media only screen and (max-width: 768px){
    .navigation{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000075;
        z-index: 9999;
        display: none;
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: white;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .active__menu{display: block;}
    .mobile__menu{display: block;}
    .mobile__menu span {
        font-size: 1.5rem;
    }
    .logo{
        width: 3rem;
        
    }
    .cart__icon i, 
    .fav__icon i{
    font-size: 1.2rem !important;
    }
    .header{
        width: 100%;
        height: 60%;
        line-height: 60px;
    }
}