.header{
    width: 100%;
    height: 7rem;
    line-height: 70px;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 10px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
    line-height: 70px;
}
.logo img{
    width: 7rem;
    filter: drop-shadow( 5px 5px 5px #000000 );
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    color: var(--color-primary);
}
.cart__icon, 
.fav__icon{
    position: relative;
}

.badge{
   position: absolute;
   top: 28%;
    left: 50%;
    width: 15px;
    height: 15px;
    text-align: center !important;
    border: 1px solid var(--color-primary);
   content: '';
   background: #fff;
   color: var(--color-primary)!important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   border-radius: 50% !important;
   font-size: 0.6rem !important;
   font-weight: 600 !important;
   z-index: 10 !important;
}
.nav__icons {
    font-size: 1.3rem;
    color: var(--color-primary);
    cursor: pointer;
}
.nav__icons span img{
    width: 30px;
    height: 30px;
}

.mobile__menu{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color-primary);
    display: none;
}

.nav__active{
    font-weight: 700 !important;
}
